# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
# --- AGGIUNTE FONDAMENTALI PER CLION E CMAKE ---

# Cartelle di build di CMake (dove CLion compila tutto)
cmake-build-debug/
cmake-build-release/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# File di configurazione dell'IDE (CLion)
.idea/

# File spazzatura del Mac
.DS_Store

# Dipendenze scaricate (Google Test)
_deps/